<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h2>your drive</h2>
    <button class="new-folder-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-folder-plus-icon lucide-folder-plus">
            <path d="M12 10v6" />
            <path d="M9 13h6" />
            <path
                d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
        </svg> NEW FOLDER</button>

    <button class="upload-file-button"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="lucide lucide-upload-icon lucide-upload">
            <path d="M12 3v12" />
            <path d="m17 8-5-5-5 5" />
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
        </svg> UPLOAD FILE</button>

    <% folders.forEach((folder)=> { %>
        <a href="/drive/<%= folder.id %>">
            <div class="folder-div" data-folder-id="<%= folder.id %>">
                <p>
                    <%= folder.name %>
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical three-dots-icon">
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="12" cy="5" r="1" />
                    <circle cx="12" cy="19" r="1" />
                </svg>
            </div>
        </a>
        <% }) %>

            <dialog class="create-folder-dialog">
                <form action="/drive/newfolder" method="post">
                    <div>
                        <label for="folder-name">Name?</label>
                        <input type="text" name="folder-name" id="folder-name">
                    </div>
                    <button type="reset" class="cancel-new-folder-button">CANCEL</button>
                    <button type="submit" class="create-new-folder-button">CREATE</button>
                </form>
            </dialog>


            <script>
                let newFolderButton = document.querySelector(".new-folder-button");
                let createFolderDialog = document.querySelector(".create-folder-dialog");
                let createNewFolderButton = document.querySelector(".create-new-folder-button");
                let cancelNewFolderButton = document.querySelector(".cancel-new-folder-button");

                newFolderButton.addEventListener("click", () => {
                    // window.location.href = "/drive/newfolder"; 
                    //instead of href make a modal
                    createFolderDialog.showModal();
                })

                createNewFolderButton.addEventListener("click", () => {
                    createFolderDialog.close();
                })

                cancelNewFolderButton.addEventListener("click", () => {
                    createFolderDialog.close();
                })

            </script>
</body>

</html>