<footer>
  <div class="footer-links">
    <a href="" target="_blank">Terms</a>  
    <a href="" target="_blank">Privacy</a>
  </div>

  <div class="footer-links">
    <p>Icons by <a target="_blank" href="https://lucide.dev/">Lucide icons</a></p>
    <p>Hero image designed by <a target="_blank" href="https://www.freepik.com/">Freepik</a></p>
    <p>Google icon by <a target="_blank"  href="https://fontawesome.com/icons/google?f=brands&s=solid">Font Awesome</a></p>
  </div>
  <p></p>
</footer>