<footer>
  <div class="footer-links">
    <a href="/terms" class="footer-text" target="_blank">Terms of Service</a>
    <a href="/privacy" class="footer-text" target="_blank">Privacy Policy</a>
  </div>

  <div class="footer-links">
    <p class="footer-text">Icons by <a class="footer-text" target="_blank" href="https://lucide.dev/">Lucide icons</a>
    </p>
    <p class="footer-text"> Hero image designed by <a class="footer-text" target="_blank"
        href="https://www.freepik.com/">Freepik</a></p>
    <p class="footer-text">Google icon by <a target="_blank" class="footer-text"
        href="https://fontawesome.com/icons/google?f=brands&s=solid">Font Awesome</a></p>
  </div>
</footer>