<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini-drive</title>
</head>
<body>
    <h1>Welcome to mini drive!</h1>
    <p>Store your files here and you can access it anytime with your account.</p>
    <a href="/login">login</a>
</body>
</html>