<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="#dc4343">
  <title>mini-drive</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include('navbar', {}) %>
    <main class="hero-section">
       <div class="hero-section-left-side">
        <h1 class="welcome-heading">WELCOME TO MINI DRIVE!</h1>
           <p class="welcome-paragraph">Store your files &  access it anytime with your account.</p>

          <% if (!user) { %>
            <a href="/auth/google" class="login-button-hero"><svg class="google-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#f56565" d="M500 261.8C500 403.3 403.1 504 260 504 122.8 504 12 393.2 12 256S122.8 8 260 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9c-88.3-85.2-252.5-21.2-252.5 118.2 0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9l-140.8 0 0-85.3 236.1 0c2.3 12.7 3.9 24.9 3.9 41.4z"/></svg>
              LOGIN WITH GOOGLE</a> 
            <% } %>

              <% if (user) { %>
                <a href="/drive" class="drive-button"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f56565" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-right-icon lucide-move-right"><path d="M18 8L22 12L18 16"/><path d="M2 12H22"/></svg> MY DRIVE </a>
                <!-- <form action="/logout" method="post">
                  <button type="submit">logout</button>
                </form> -->

                <% } %>
       </div>
       <div class="hero-section-right-side">
        <img src="/images/herosectionimage.png" alt="hero-image" class="hero-image">
       </div>
       
    </main>
    <hr>
    <%- include('footer', {}) %>        
                
</body>

</html>