<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms of Service - Mini Drive</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
 
</head>
<body>
     <%- include('navbar', {}) %>
  <main>
    <h1>Terms of Service – Mini Drive</h1>
  <p>Mini Drive is a personal project and web application for managing files. By using Mini Drive, you agree to:</p>
  <ol>
    <li>Use the app responsibly and legally.</li>
    <li>Provide accurate information when using Google OAuth.</li>
    <li>Not attempt to access or harm the data of other users.</li>
  </ol>
  <p>Mini Drive is provided "as is" without warranties. The project is for personal or educational use, and the creator is not liable for any data loss or issues arising from its use.</p>
  </main>
  <hr>
   <%- include('footer', {}) %>
</body>
</html>
