:root {
  /* Colors */
  --color-white: white;
  --color-black: black;
  --color-bg: #19191b;
  --color-footer-bg: #141416;
  --color-primary: #f56565;
  --color-primary-hover: #dc4343;
  --color-file: cornflowerblue;
  --color-file-hover: rgb(16, 69, 168);
  --color-dialog-bg: #e5e5e5;

  /* Fonts */
  --font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--color-white);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-bg);
}

.such-empty-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 50vh;
  font-size: calc(2rem + 1.6vw);
  align-self: center;
  text-align: center;
  font-weight: 300;
  margin: 0.5rem;
}

main {
  min-height: 60vh;
  margin-bottom: 2rem;
}

footer {
  height: 20vh;
  background-color: var(--color-footer-bg);
}

dialog {
  padding: 1.5rem;
  border: 3px solid var(--color-primary-hover);
  border-radius: 1rem;
  background-color: black;
  width: 30vw;
  height: 25vh;

  box-shadow: 0 0 10px 500vw rgba(0, 0, 0, 0.6);
}

.dialog-wrapper button {
  font-weight: 600;
}

.dialog-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.dialog-wrapper form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.folder-div-options-icons-div form,
.file-options-icons-div form {
    margin: 0;
    padding: 0;
}


dialog input {
  margin-top: 0.3rem;
  background-color: #353539;
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #353539;
}

dialog button {
  background-color: var(--color-dialog-bg);
  border: 2px solid var(--color-dialog-bg);
  height: 2.5rem;
  width: 10rem;
  border-radius: 0.5rem;
  color: var(--color-black);
  font-weight: 400;
  cursor: pointer;
}

.create-new-folder-button,
.file-upload-send-button,
.submit-rename-file-button,
.submit-rename-folder-button {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color-white);
}

.create-folder-button-container,
.upload-file-button-container,
.folder-rename-button-container,
.file-rename-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.logo {
  color: var(--color-primary);
  font-weight: 800;
  font-size: calc(1rem + 1.6vw);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  color: var(--color-white);
  height: 4.5rem;
  padding: 1rem;
  align-items: center;
}

.username {
  font-weight: 600;
}

.username-and-logout-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: calc(0.5rem + 1vw);
}

.login-button-hero {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 15rem;
  padding: 0.1rem;
  height: 3.5rem;
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
}

.google-icon {
  width: 2rem;
  height: auto;
}

.welcome-heading {
  font-size: calc(1rem + 2vw);
  font-weight: 600;
  margin: 0;
}

.welcome-paragraph {
  font-size: calc(0.5rem + 1vw);
  font-weight: 200;
  margin: 0;
}

.folder-and-files-div {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 70vw;
  margin: auto;
}

.folder-icon-name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.folder-name,
.file-name {
  font-weight: 600;
  font-size: calc(0.5rem + 0.5vw);
}

.file-name-icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.file-options-icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 0.5rem;
}

.folder-div {
  background-color: var(--color-primary);
  padding: 0.2rem;
  width: 70vw;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 4rem;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
}

.file-rename-icon,.folder-rename-icon {
  margin-bottom: 5px;
}

.folder-div:hover {
  background-color: var(--color-primary-hover);
  border: 2px solid var(--color-primary-hover);
  transition:
    background-color 500ms,
    border 500ms;
}

.delete-folder-button,
.delete-file-button,
.download-file-button {
  background-color: inherit;
  border: none;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40rem;

  gap: 2rem;
}

.hero-section-left-side {
  width: 40%;
  height: 80%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.hero-section-right-side {
  width: 40%;
}

.hero-image {
  width: 120%;
  height: auto;
}

.drive-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 10rem;
  height: 3rem;
  font-weight: 600;
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
}

.file-div {
  background-color: var(--color-file);
  font-size: 0.7rem;
  position: relative;
  padding: 0.2rem;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 4rem;
  border-radius: 1rem;
  border: 2px solid var(--color-file);
}

.file-div:hover {
  background-color: var(--color-file-hover);
  border: 2px solid var(--color-file-hover);
  transition:
    background-color 500ms,
    border 500ms;
}

.folder-title-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-container {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  align-items: center;
}

.button-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.new-folder-button,
.upload-file-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  border: 2px solid var(--color-white);
  color: var(--color-black);
  width: 10rem;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 500;
}

.folder-div-options-icons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin: 0.5rem;
}

.file-details-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.file-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  background-color: #353539;
  padding: 0.5rem;
  border-radius: 1.5rem;
  font-size: calc(0.5rem + 0.5vw);
}

.back-button-container {
  width: 70vw;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.back-button {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 15%;
}

.back-button-file-details {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.back-button-file-details:hover {
  background-color: var(--color-primary-hover);
  border: 2px solid var(--color-primary-hover);
  transition:
    background-color 500ms,
    border 500ms;
}

.back-button-file-details-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}




.file-info-button {
  background-color: inherit;
  border: none;
}

footer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  background-color: var(--color-bg);
  align-items: flex-start;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-links p {
  margin: 0;
}

.footer-links a {
  color: var(--color-primary);
}

.lucide {
  width: calc(1vw + 0.8rem);
  height: calc(1vw + 0.8rem);
}

.error-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-primary-hover);
  gap: 0.5rem;

  margin-left: 1rem;
}

.error-alert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 70vw;
  margin: auto;
  background-color: rgb(45, 44, 44);
  border: 2px solid rgb(45, 44, 44);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 999;
  left: 15%;
  top: 3%;
}

.error-text,
.file-upload-error {
  color: red;
  font-weight: 500;
  font-size: calc(0.5rem + 0.5vw);
}

.footer-text {
  font-size: calc(0.6rem + 0.6vw);
  font-weight: 400;
}

@media (max-width: 1024px) {
  dialog {
    width: 50vw;
  }
}

@media (max-width: 480px) {
  .hero-section {
    width: 80vw;
    height: 66vh;
    margin: auto;
    gap: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-section-left-side {
    width: 80vw;
    margin: auto;
    height: fit-content;
  }

  .hero-section-right-side {
    width: 80vw;
    margin: auto;
  }

  .hero-image {
    width: 100%;
  }

  .file-div,
  .folder-div {
    width: 100%;
  }

  .folder-and-files-div {
    width: 92vw;
  }

  .button-container {
    width: 92vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .upload-file-button,
  .back-button,
  .new-folder-button {
    width: 40vw;
    height: 5vh;
  }

  dialog {
    width: 90vw;
  }

  footer {
    padding: 0.5rem;
  }
}
