:root {
  /* Colors */
  --color-white: white;
  --color-black: black;
  --color-bg: #19191b;
  --color-footer-bg: #141416;
  --color-primary: #f56565;
  --color-primary-hover: #dc4343;
  --color-file: cornflowerblue;
  --color-file-hover: rgb(16, 69, 168);
  --color-dialog-bg: #e5e5e5;

  /* Fonts */
  --font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--color-white);
}


body {
  background-color: var(--color-bg);
}

.such-empty-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
  height: 50vh;
  font-size: calc(2rem + 1.6vw);
  align-self: center;
  text-align: center;
  font-weight: 300;
}

main {
  min-height: 80vh;
}

footer {
  height: 20vh;
  background-color: var(--color-footer-bg);
}

.dialog {

  min-height: 8rem;
}

dialog input {
  background-color: var(--color-primary);
}

.logo {
  color: var(--color-primary);
  font-weight: 800;
  font-size: calc(0.6rem + 1.6vw);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  color: var(--color-white);
  height: 4.5rem;
  padding: 1rem;
  align-items: center;
}

.username {
  font-weight: 600;
}

.username-and-logout-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: calc(0.5rem + 1vw);
}

a {
  display: inline-block;
  width: 14rem;
  flex-direction: row;
  color: var(--color-black);
  background-color: var(--color-white);
  /* border: 2px solid lightskyblue; */
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 600;
}

.login-button-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 15rem;
  padding: 0.1rem;
  height: 3.5rem;
}

.google-icon {
  width: 3rem;
  height: auto;
}

.welcome-heading {
  font-size: calc(1rem + 2vw);
  font-weight: 600;
  margin: 0;
}

.welcome-paragraph {
  font-size: calc(0.5rem + 1vw);
  font-weight: 200;
  margin: 0;
}

.folder-and-files-div {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 70vw;
  margin: auto;
}

.folder-icon-name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.folder-name,.file-name {
  font-size: calc(0.5rem + 0.5vw);;
}



.file-name-icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.file-options-icons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin: 0.5rem;
}

.folder-div {
  background-color: var(--color-primary);
  padding: 0.2rem;
  width: 70vw;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 4rem;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
}

.folder-div:hover {
  background-color: var(--color-primary-hover);
  border: 2px solid var(--color-primary-hover);
  transition:
    background-color 500ms,
    border 500ms;
}

.delete-folder-button,
.delete-file-button,
.download-file-button {
  background-color: inherit;
  border: none;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40rem;
  /* border: 2px solid yellow; */
  gap: 2rem;
}

.hero-section-left-side {
  /* border: 2px solid yellow; */
  width: 40%;
  height: 80%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.hero-section-right-side {
  /* border: 2px solid yellow; */
  width: 40%;
}

.hero-image {
  width: 120%;
  height: auto;
}

.drive-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 10rem;
  height: 3rem;
}

.file-div {
  background-color: var(--color-file);
  font-size: 0.7rem;
  position: relative;
  padding: 0.2rem;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 4rem;
  border-radius: 1rem;
  border: 2px solid var(--color-file);
}

.file-div:hover {
  background-color: var(--color-file-hover);
  border: 2px solid var(--color-file-hover);
  transition:
    background-color 500ms,
    border 500ms;
}

.folder-title-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.folder-options-dialog,
.file-options-dialog {
  background-color: var(--color-dialog-bg);
  color: var(--color-black);
  position: absolute;
  visibility: hidden;
  top: 90%;
  left: 67%;
  z-index: 999;
}

.button-container {
  width: 70vw;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* border: 2px solid white; */
}

.new-folder-button,
.upload-file-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  border: 2px solid var(--color-white);
  color: var(--color-black);
  width: 10rem;
  height: 2.5rem;
  cursor: pointer;
}

.folder-div-options-icons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin: 0.5rem;
}


.file-details-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.file-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  background-color: #353539;
  padding: 0.5rem;
  border-radius: 1.5rem;
  font-size: calc(0.5rem + 0.5vw);
}

.back-button-file-details {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.back-button-file-details:hover {
  background-color: var(--color-primary-hover);
  border: 2px solid var(--color-primary-hover);
  transition: background-color 500ms,border 500ms;
}

.back-button-file-details-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


